<h1>Type your Url below</h1>

<form action="/urls" method="post">
	Enter URL:
	<input type ="text" name="long_url" placeholder="Ask you type just type la">
	<input type="submit" value="Submit">
</form>

<% unless url == '' %>
	<p>Shortened result: <%= url %></p>
<% end %>