<html>
	<head>
		<title> Go. short | Shorten your URL with ease</title>

		<!-- browser side icon -->
		<!-- changed to earth gif but not working-->
 		<link rel="shortcut icon" href="img/earth.gif" type="image/x-icon" />

		<link rel="stylesheet" type="text/css" href="css/application.css" />

	</head>
	<body> 
		<div id="container">	
			<%= yield %>
		</div>
	</body>
</html>